table {
    text-align: center;
}

.kiso {
    background-color: #B4EBFA;
}

.hatten {
    background-color: #EDC58F;
}

.ryouiki {
    background-color: #FFFF99;
}

p1 {
    font-weight: bold;
    text-decoration: underline;
}